body {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}
nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
    color: darkgrey;
}
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table, tr, td{
    border-collapse: collapse;
    border: 1px solid black
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    margin: 10px;
}